/********** Basic Style ***********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

a {
    text-decoration: none !important;
}

section {
    position: relative;
}


/*********** Header ************/

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
}

.header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/header-bg.png) left top repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
}

.header-title {
    padding: 20px 15px;
    text-align: center;
    background: rgba(124, 94, 56, 0.8);
}

.header-title h1 {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.header form {
    margin-top: 35%;
    padding: 25px 30px;
    background: rgba(124, 94, 56, 0.4);
    font-weight: 400;
}

.header .form-row {
    margin-bottom: 10px;
}

.control-group label {
    margin-bottom: 0;
    font-size: 14px;
    color: #F2F2F2;
}

.form-control {
    color: #323232;
    border: none;
    border-radius: 0;
    background: #e7e6e6;
}

.form-control:focus {
    border: none;
    box-shadow: none;
    outline: none;
    background: #FFFFFF;
    color: #323232;
}

.btn {
    color: #ffffff;
    background: #7c5e38;
    border-radius: 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn:hover,
.btn:focus {
    color: #7c5e38;
    background: rgba(124, 94, 56, 0.2);
    box-shadow: none;
    border: 2px solid #ffffff;
}

.submit-condition {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

/* MESSAGE SUCCES */
.bg-message {
    position: relative;
    margin-top: 10%;
    margin-bottom: 45px;
    padding: 25px 30px;
    font-weight: 400;
    height: auto;
}

.content-message {
    background: rgba(124, 94, 56, 0.3);
    width: 100%;
    height: 100%;
}

/* INVITATION */

.bg-body-invitation {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
}

.bg-body-invitation:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/bg-header.png) left top repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
}

.bg-invitation {
    background: url(../img/bg-header.png) left top repeat;
    background-size: cover;
    margin-top: 10%;
    padding: 25px 30px;
    font-weight: 400;
    height: auto;
}

.bg-body-invitation h2 {
    color: #7c5e38;
    font-weight: 600;
    padding: 5px;
}

.bg-body-invitation h3 {
    padding: 10px;
}


.bg-body-invitation .content-invitation {
    margin-top: 15%;
    padding: 60px 50px;
    background: rgba(124, 94, 56, 0.2);
    font-weight: 400;
}







